.appContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid black;
  width: 60%;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.listContainer {
  text-align: center;
}

.listContainer ul {
  padding: 0;
  list-style-type: none;
}

.listContainer li {
  margin: 5px;
}

.input {
  margin: 5px!important;
  width: 100%;
}

.addMovie {
  margin: 5px!important;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.submitButtons button {
  margin: 10px;
}

.results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}