.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  overflow: ellipsis;
  padding: 50px;
}

.title {
  margin-bottom: 0;
  text-align: center;
  align-self: center;
}