.genreAndStars {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
}

.listContainer ul {
  padding: 0;
  list-style-type: none;
}

.listContainer li {
  margin: 5px;
}

.resultsContainer {
  text-align: center;
}

.genres {
  display: flex;
  align-items: center;
}

.actorCarousel {
  display: flex;
  justify-content: center;
  width: 100%;
}

.img {
  width: 500px!important;
  height: 700px!important;
}

@media only screen and (max-width: 800px) {
  .img {
    height: calc(750px / 4)!important;
    width: calc(500px / 4)!important;
  }

  .starsFont {
    font-size: 20px!important;
  }

  .stars {
    margin-top: -10px;
  }
}