.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  padding: 0;
  font-size: 50px;
}

.subtitle {
  margin: 0;
  padding: 0;
}

.titleContainer {
  padding: 20px;
  text-align: center;
}