.genreAndStars {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
}

.listContainer ul {
  padding: 0;
  list-style-type: none;
}

.listContainer li {
  margin: 5px;
}

.resultsContainer {
  text-align: center;
}

.genres {
  display: flex;
  align-items: center;
}